{{ define "title" -}}
  Blog List | {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "masthead.html" . }}
{{ end }}
{{ define "main" }}
  <!-- <header>
    <h1>{{ .Title }}</h1>
  </header> -->
  
  <div class="ax-content ax-l-o">
    <div class="ax-l-i{{ printf " %s" (.Param "maxWidthContent" | default "max-w-680") }}">
      <h2 class="section-title font-content-sans font-semibold uppercase tracking-wide text-2xl text-raven-800">{{ .Title }}</h2>

      <article class="cdata mt-8 ">
        <section>
          {{ $prev := 3000}}
          {{range .Site.RegularPages}}
            {{if .Date}}
            {{if gt $prev (.Date.Format "2006")}}
            {{ if ne $prev 3000}}
              </table>
            {{ end }}
            <h2 class="text-2xl">{{ .Date.Format "2006" }}</h2>
            <table class=" all-posts mb-4">
            {{end}}
            <tr class="border-l-2 border-blue-300 md:hover:border-blue-600">
              <td class="pl-2">{{.Date.Format "02 Jan"}}</td>
              <td class="pl-1"><a class="no-underline text-blue-600 hover:text-raven-600" href="{{.Permalink}}">{{.Title}}</a></td>

            </tr>
            
            {{ $prev = .Date.Format "2006"}}
            {{end}}
          {{end}}
        </table>    
        </section>
        {{ .Content }}
      </article>
    </div>
  </div>
</div>


{{ end }}
{{ define "footer" }}
  {{ partial "powered-by.html" . }}
{{ end }}