{{ define "main" }}
<div class="page-single">
  {{ if .Params.feature -}}
  <div class="ax-feature ax-l-o">
    <div class="ax-l-i{{ printf " %s" (.Param "maxWidthFeature" | default "max-w-5xl") }}">
      {{- partial "feature" . }}
    </div>
  </div>
  {{- end -}}

  <div class="ax-content ax-l-o">
    <div class="ax-l-i{{ printf " %s" (.Param "maxWidthContent" | default "max-w-680") }}">
      <h2 class="section-title font-content-sans font-semibold uppercase tracking-wide text-2xl text-raven-800">{{ .Title }}</h2>

      <article class="cdata mt-8">
        {{ .Content }}
      </article>
    </div>
  </div>
</div>
{{ end }}
